*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url('images/container-1-imgs/fundo-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

#linha-1-header{
    position: absolute;
    top: 300px;
    width: 430px;
}

#linha-2-header{
    margin-top: 500px;
    width: 430px;
}

.alig-linha{
    display: flex;
    justify-content: flex-end;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #0C032E;
}

nav h3{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

nav img{
    margin-right: 15px;
}

/* -------------------------------------- conteurdo-heade r---------------------------------- */

.conteurdo-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.texto-header{
    margin-right: 100px;
}

.h1-header{
    width: 510px;
}

.h1-header h1{
    font-size: 4.5rem;
    line-height: 1.1;
    font-family: 'Fjalla One';
    font-weight: 900;
    color: white;
}


.p-header{
    width: 480px;
    margin-top: 50px;
}

.p-header p{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;    
    line-height: 1.6;
}


.btn-header{
    margin-top: 50px;
}

.btn-header button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    color: white;
    padding: 18px;
    width: 205px;
}

.btn-header button:active{
    background-color: white;
    color: black;

}

/*----------------------------------------- img-header ------------------------------------*/

.img-header{
    background-image: url('images/container-1-imgs/sapato-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid white;
}

/*------------------------------------------ Responsividade----------------------------------*/

@media screen and (max-width: 1202px) {
    .p-header {
        width: 380px;
    }

    .h1-header {
        width: 360px;
    }

    .img-header {
        height: 420px;
        width: 420px;
    }

    .texto-header {
        margin-right: 60px;
    }
}

@media screen and (max-width: 994px) {

    
    #linha-2-header{
        width: 480px;
    }

    #linha-1-header {
        position: absolute;
        top: 100px;
        width: 480px;
    }

    .h1-header h1 {
        font-size: 3.0rem;
    }
    
    .p-header {
        width: 305px;
    }

    .img-header {
        height: 330px;
        width: 330px;
    }

    .texto-header {
        margin-right: 15px;
    }
}

@media screen and (max-width: 790px) {

    .conteurdo-header {
        top: 690px;
    }    
    
    #linha-2-header{    
        margin-top: 1200px;
        width: 480px;
    }
    
    .conteurdo-header {
        flex-direction: column;
    }

    .h1-header {
        width: 410px;
    }

    .h1-header h1 {
        font-size: 4.7rem;
    }

    .p-header {
        width: 450px;
    }

    .img-header {
        margin-top: 80px;
        height: 415px;
        width: 415px;
    }
}

@media screen and (max-width: 578px) {

    #linha-1-header {
        width: 400px;
    }

    #linha-2-header {
        width: 400px;
    }

    .h1-header h1 {
        font-size: 3rem;
    }

    .img-header {
        height: 365px;
        width: 365px;
    }

    .p-header {
        width: 396px;
    }
}

@media screen and (max-width: 498px) {
    .p-header {
        width: 295px;
    }

    .img-header {
        height: 320px;
        width: 320px;
    }


    .h1-header h1 {
        font-size: 2.6rem;
    }

    .h1-header {
        width: 300px;
    }
}

@media screen and (max-width: 406px) {

    #linha-1-header {
        width: 340px;
    }

    #linha-2-header {
        top: 1100px;
        width: 320px;
    }

    .h1-header {
        width: 230px;
    }

    .img-header {
        height: 280px;
        width: 280px;
    }

    .p-header {
        width: 265px;
    }
}

