* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-image: url('images/container-1-imgs/fundo-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

#linha-1-header {
    position: absolute;
    top: 300px;
    width: 430px;
}

#linha-2-header {
    margin-top: 500px;
    width: 430px;
    margin-bottom: 50px;
}

.alig-linha {
    display: flex;
    justify-content: flex-end;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #0C032E;
}

nav h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

nav img {
    margin-right: 15px;
}

/* -------------------------------------- conteurdo-heade r---------------------------------- */

.conteurdo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-header {
    margin-right: 100px;
}

.h1-header {
    width: 510px;
}

.h1-header h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    font-family: 'Fjalla One';
    font-weight: 900;
    color: white;
}


.p-header {
    width: 480px;
    margin-top: 50px;
}

.p-header p {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1.6;
}


.btn-header {
    margin-top: 50px;
}

.btn-header button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    color: white;
    padding: 18px;
    width: 205px;
}

.btn-header button:active {
    background-color: white;
    color: black;

}

/*----------------------------------------- img-header ------------------------------------*/

.img-header {
    background-image: url('images/container-1-imgs/sapato-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid white;
}

/*------------------------------------------ back-nike-img --------------------------------*/

.back-nike-img {
    background-image: url('images/container-2-imgs/nike-back.jpg');
    background-repeat: no-repeat;
    background-position: 70% 70%;
    background-size: cover;
    height: 90vh;
}

/*------------------------------------------ container-3 ----------------------------------*/

.container-3 {
    background-color: #0c032e;
    position: relative;
    box-shadow: 40px 60px 200px 40px #0c032e;
}

.linha-direita-div3 {
    display: flex;
    justify-content: flex-end;
}

.linha-direita-div3 img {
    margin-top: 130px;
    width: 500px;
    margin-bottom: 210px;
}

.linha-esquerda-div3 {
    display: flex;
    justify-content: flex-start;
}

.imgs-trio {
    height: 350px;
    width: 365px;
    object-fit: cover;
}

.imgs-sapapatos {
    top: 280px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img-meio {
    margin-left: 20px;
    margin-right: 20px;
}

.div-li-container3 {
    margin-top: 20px;
    color: white;
    width: 938px;
    position: absolute;
    top: 730px;
    left: 43%;
    transform: translate(-50%, -50%);
}

.div-li-container3 h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Fjalla One';
    font-weight: 400;
    margin-bottom: 20px;
}

.div-li-container3 li {
    margin-top: 15px;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-left: 28px;
}

#li-1 {
    list-style: "1. ";
}

#li-2 {
    list-style: "2. ";
}

#li-3 {
    list-style: "3. ";
}

/*------------------------------------------ container-4 ----------------------------------*/


/*----------------------------------------- container-5 -----------------------------------*/

.container-5{
    background-image: url("images/container-5-imgs/bg6.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
}

/*----------------------------------------- container-6 -----------------------------------*/


.container-6{
    background-image: linear-gradient(to right, #0c032e, #2b2933);
    color: white;
    position: relative;
}

.container-6 h1{
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 20px;
    font-family: 'Fjalla One';
}

.container-6 li{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.25rem;    
    line-height: 1.6
}

#seis-li-1{
    list-style: "1. ";
}

#seis-li-2{
    list-style: "2. ";
}

#seis-li-3{
    list-style: "3. ";
}


.texto-6{
    display: flex;
    justify-content: center;
}

.texto-6 div{
    margin-top: 70px;
    width: 950px;
}

.linha-esquerda-6{
    margin-top: 100px;
}

.linha-direita-6{
    display: flex;
    justify-content: flex-end;
}

.div-tenis-texto{
    position: absolute;
    left: 50%;
    top: 850px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.tenis-cont6{
    background-image: url("images/container-6-imgs/tenis-container-6.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 540px;
    border: 8px solid white;
    border-radius: 50%;
    object-position: 100% 100%;

}

.texto-cont6{
    margin-left: 75px;
}

.texto-cont6 h1{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'Fjalla One';
    margin-bottom: 50px;
}

.texto-cont6 p{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
}

.div-p-6{
    width: 500px;
    margin-bottom: 50px;
}

.div-h2-6{
    width: 410px;

}

.texto-cont6 button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    color: white;
    padding: 18px;
    width: 205px;

}
/*------------------------------------------ Responsividade--------------------------------*/

@media screen and (max-width: 1202px) {

    .texto-6 div {
        width: 760px;
    }

    .texto-6 div li{
        margin-top: 10px;
    }

    .div-p-6 {
        width: 411px;
    }

    .tenis-cont6{
        width: 447px;
        height: 447px;
    }

    .texto-cont6 h1 {
        font-size: 3rem;
        font-weight: 900;
    }    

    .div-li-container3 {
        width: 738px;
        left: 40%;
    }

    .imgs-trio {
        height: 350px;
        width: 300px;
    }

    .p-header {
        width: 380px;
    }

    .h1-header {
        width: 360px;
    }

    .img-header {
        height: 420px;
        width: 420px;
    }

    .texto-header {
        margin-right: 60px;
    }


    .div-li-container3 h1 {
        margin-left: 40px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1000px) {

    .div-h2-6 {
        width: 280px;
    }

    .div-p-6{
        width: 300px;
    }

    .tenis-cont6{
        width: 342px;
        height: 342px;
    }

    .div-li-container3 {
        width: 700px;
        left: 47%;
    }

    .div-li-container3 {
        top: 700px;
    }

    .linha-direita-div3 img {
        margin-bottom: 290px;
    }

    .imgs-trio {
        height: 262px;
        width: 235px;
    }

    #linha-2-header {
        width: 480px;
    }

    #linha-1-header {
        position: absolute;
        top: 100px;
        width: 480px;
    }

    .h1-header h1 {
        font-size: 3.0rem;
    }

    .p-header {
        width: 305px;
    }

    .img-header {
        height: 330px;
        width: 330px;
    }

    .texto-header {
        margin-right: 15px;
    }
}


@media screen and (max-width: 882px) {
    .texto-6 div {
        width: 600px;
    }
}

@media screen and (max-width: 790px) {

    .div-tenis-texto {
       flex-direction: column;
       top: 1250px;
    }

    .linha-direita-6 img{
        margin-bottom: 600px;
    }

    .tenis-cont6{
        width: 488px;
        height: 488px;
    }

    .texto-cont6{
        margin-top: 200px;
        margin-left: 0;
    }

    .linha-esquerda-6 img{
        width: 570px;    }

    .texto-cont6 h1 {
        font-size: 4.5rem;    
    }

    .div-h2-6 {
        width: 500px;
    }

    .div-p-6 {
        width: 500px;
    }

    #linha-esquerda-cont4 {
        margin-bottom: 1000px;
        width: 600px;
        height: 600px;
    }    

    .div-li-container3 {
        top: 1440px;
        width: 500px;
        left: 46%;
        transform: translate(-50%, -50%);
    }

    .div-li-container3 li {
        margin-top: 20px;
    }


    .imgs-sapapatos {
        flex-direction: column;
        top: 670px;
        left: 35%;
    }

    .linha-direita-div3 img {
        margin-bottom: 990px;
    }

    #img-meio {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .imgs-trio {
        height: 320px;
        width: 365px;
    }

    .conteurdo-header {
        top: 750px;
    }

    #linha-2-header {
        margin-top: 1200px;
        width: 480px;
    }

    .conteurdo-header {
        flex-direction: column;
    }

    .h1-header {
        width: 410px;
    }

    .h1-header h1 {
        font-size: 4.7rem;
    }

    .p-header {
        width: 450px;
    }

    .img-header {
        margin-top: 80px;
        height: 415px;
        width: 415px;
    }
}


@media screen and (max-width: 708px) {
    .texto-6 div {
        width: 480px;
    }
}

@media screen and (max-width: 639px) {
    #linha-esquerda-cont4 {
        margin-bottom: 1100px;
        width: 500px;
        height: 500px;
    }
}


@media screen and (max-width: 578px) {

    .texto-6 div {
        width: 400px;
    }

    .texto-cont6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-h2-6 {
        width: 350px;
        margin-right: 50px;
    }

    .linha-esquerda-6 img,.linha-direita-6 img{
        width: 460px;
    }

    .tenis-cont6 {
        width: 400px;
        height: 400px;
    }

    .texto-cont6 button{
        margin-right: 195px;
    }

    .div-p-6 {
        width: 400px;
    }

    .texto-cont6 h1{
        font-size: 3.7rem;
    }

    .back-nike-img {
        height: 75vh;
    }

    #linha-esquerda-cont4 {
        width: 450px;
        margin-bottom: 1200px;
        height: 450px;
    }
    

    .linha-direita-div3 img {
        width: 400px;
        margin-bottom: 1200px;
    }

    .div-li-container3 {
        top: 1500px;
        width: 340px;
        left: 50%;
    }

    .imgs-sapapatos {
        flex-direction: column;
        left: 50%;
    }

    #linha-1-header {
        width: 400px;
    }

    #linha-2-header {
        width: 400px;
    }

    .h1-header h1 {
        font-size: 3rem;
    }

    .img-header {
        height: 365px;
        width: 365px;
    }

    .p-header {
        width: 396px;
    }
}

@media screen and (max-width: 498px) {

    .texto-6 div {
        width: 320px;
    }

    .linha-esquerda-6 img, .linha-direita-6 img {
        width: 400px;
    }

    .tenis-cont6 {
        width: 340px;
        height: 340px;
    }

    .texto-cont6 {
        margin-top: 150px;
    }

    .texto-cont6 h1 {
        font-size: 3rem;
    }
    
    .div-h2-6 {
        width: 330px;
        margin-right: 0;
    }    

    .div-p-6 {
        width: 340px;
    }

    .texto-cont6 button {
        margin-right: 129px;
    }

    #linha-esquerda-cont4 {
        width: 400px;
        margin-bottom: 1300px;
        height: 400px;
    }

    .linha-direita-div3 img {
        margin-bottom: 1400px
    }

    .div-li-container3 {
        top: 1570px;
        width: 280px;
    }

    .p-header {
        width: 295px;
    }

    .img-header {
        height: 320px;
        width: 320px;
    }


    .h1-header h1 {
        font-size: 2.6rem;
    }

    .h1-header {
        width: 300px;
    }
}

@media screen and (max-width: 406px) {

    .texto-6 div {
        width: 260px;
    }

    .div-tenis-texto {
        top: 1400px;
    }

    .container-6 h1 {
        font-size: 2.6rem;
    }

    .div-h2-6 {
        width: 280px;
    }

    .div-p-6 {
        width: 270px;
    }
    
    .texto-cont6 button {
        margin-right: 60px;
    }

    .linha-direita-6 img {
        margin-bottom: 603px;
    }

    .linha-esquerda-6 img, .linha-direita-6 img {
        width: 308px;
    }
    .tenis-cont6 {
        width: 275px;
        height: 275px;
    }

    #linha-esquerda-cont4 {
        width: 300px;
        margin-bottom: 1600px;
        height: 300px;
    }


    .linha-direita-div3 img {
        margin-bottom: 1270px;
    }

    .imgs-trio {
        height: 280px;
        width: 77vw;
    }

    .div-li-container3 {
        top: 1470px;
    }

    .imgs-sapapatos {
        top: 580px;
    }

    #linha-1-header {
        width: 340px;
    }

    #linha-2-header {
        top: 1100px;
        width: 320px;
    }

    .h1-header {
        width: 230px;
    }

    .img-header {
        height: 280px;
        width: 280px;
    }

    .p-header {
        width: 265px;
    }
}

@media screen and (max-width: 352px) {

    .texto-6 div {
        width: 220px;
    }
    
    .div-tenis-texto {
        top: 1500px;
    }

    .div-h2-6 {
        width: 240px;
    }

    .div-p-6 {
        width: 240px;
    }

    .texto-cont6 button {
        margin-right: 30px;
    }

    .linha-esquerda-6 img, .linha-direita-6 img {
        width: 258px;
    }
    
    .linha-direita-6 img {
        margin-bottom: 740px
    }    

    #linha-2-header {
        width: 285px;
    }

    #linha-1-header {
        width: 295px;
    }
    #linha-esquerda-cont4 {
        width: 300px;
        margin-bottom: 1500px;
    }

    .linha-direita-div3 img {
        width: 330px;
        margin-top: 10px;
        margin-bottom: 1490px;
    }
}